<section data-ng-controller="GuestsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Guests</h1>
    </div>
    <div>
        <img data-ng-repeat='user in asdf' class='image-response img-circle' ng-click="test(user)" src='http://staging.conartistcollective.com/{{user.avatar}}' />
    </div>
    <div class="list-group">
        <a data-ng-repeat="guest in guests" data-ng-href="/#!/guests/{{guest._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="guest.created | date:'medium'"></span>
				by
				<span data-ng-bind="guest.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="guest.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!guests.$resolved || guests.length">
    	No Guests yet, why don't you <a href="/#!/guests/create">create one</a>?
    </div>
</section>