// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

@import "datepicker3";

@font-face {font-family:'maison-mono-regular'; src:url('/fonts/maison-mono-mg/maison-mono-mg-regular.eot'); src:url('/fonts/maison-mono-mg/maison-mono-mg-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/maison-mono-mg/maison-mono-mg-regular.woff2') format('woff2'), url('/fonts/maison-mono-mg/maison-mono-mg-regular.woff') format('woff'), url('/fonts/maison-mono-mg/maison-mono-mg-regular.ttf') format('truetype'), url('/fonts/maison-mono-mg/maison-mono-mg-regular.svg#maison_monoregular') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'maison-mono-light'; src:url('/fonts/maison-mono-mg/maison-mono-mg-light.eot'); src:url('/fonts/maison-mono-mg/maison-mono-mg-light.eot?#iefix') format('embedded-opentype'), url('/fonts/maison-mono-mg/maison-mono-mg-light.woff2') format('woff2'), url('/fonts/maison-mono-mg/maison-mono-mg-light.woff') format('woff'), url('/fonts/maison-mono-mg/maison-mono-mg-light.ttf') format('truetype'), url('/fonts/maison-mono-mg/maison-mono-mg-light.svg#maison_monolight') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'maison-mono-italic'; src:url('/fonts/maison-mono-mg/maison-mono-mg-italic.eot'); src:url('/fonts/maison-mono-mg/maison-mono-mg-italic.eot?#iefix') format('embedded-opentype'), url('/fonts/maison-mono-mg/maison-mono-mg-italic.woff2') format('woff2'), url('/fonts/maison-mono-mg/maison-mono-mg-italic.woff') format('woff'), url('/fonts/maison-mono-mg/maison-mono-mg-italic.ttf') format('truetype'), url('/fonts/maison-mono-mg/maison-mono-mg-italic.svg#maison_monoitalic') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'maison-mono-bold'; src:url('/fonts/maison-mono-mg/maison-mono-mg-bold.eot'); src:url('/fonts/maison-mono-mg/maison-mono-mg-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/maison-mono-mg/maison-mono-mg-bold.woff2') format('woff2'), url('/fonts/maison-mono-mg/maison-mono-mg-bold.woff') format('woff'), url('/fonts/maison-mono-mg/maison-mono-mg-bold.ttf') format('truetype'), url('/fonts/maison-mono-mg/maison-mono-mg-bold.svg#maison_monobold') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'bebas-neue-thin'; src:url('/fonts/bebas-neue/bebas-neue-thin.eot'); src:url('/fonts/bebas-neue/bebas-neue-thin.eot?#iefix') format('embedded-opentype'), url('/fonts/bebas-neue/bebas-neue-thin.woff2') format('woff2'), url('/fonts/bebas-neue/bebas-neue-thin.woff') format('woff'), url('/fonts/bebas-neue/bebas-neue-thin.ttf') format('truetype'), url('/fonts/bebas-neue/bebas-neue-thin.svg#bebas_neuethin') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'bebas-neue-regular'; src:url('/fonts/bebas-neue/bebas-neue-regular.eot'); src:url('/fonts/bebas-neue/bebas-neue-regular.eot?#iefix') format('embedded-opentype'), url('/fonts/bebas-neue/bebas-neue-regular.woff2') format('woff2'), url('/fonts/bebas-neue/bebas-neue-regular.woff') format('woff'), url('/fonts/bebas-neue/bebas-neue-regular.ttf') format('truetype'), url('/fonts/bebas-neue/bebas-neue-regular.svg#bebas_neue_regularregular') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'bebas-neue-light'; src:url('/fonts/bebas-neue/bebas-neue-light.eot'); src:url('/fonts/bebas-neue/bebas-neue-light.eot?#iefix') format('embedded-opentype'), url('/fonts/bebas-neue/bebas-neue-light.woff2') format('woff2'), url('/fonts/bebas-neue/bebas-neue-light.woff') format('woff'), url('/fonts/bebas-neue/bebas-neue-light.ttf') format('truetype'), url('/fonts/bebas-neue/bebas-neue-light.svg#bebas_neuelight') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'bebas-neue-bold'; src:url('/fonts/bebas-neue/bebas-neue-bold.eot'); src:url('/fonts/bebas-neue/bebas-neue-bold.eot?#iefix') format('embedded-opentype'), url('/fonts/bebas-neue/bebas-neue-bold.woff2') format('woff2'), url('/fonts/bebas-neue/bebas-neue-bold.woff') format('woff'), url('/fonts/bebas-neue/bebas-neue-bold.ttf') format('truetype'), url('/fonts/bebas-neue/bebas-neue-bold.svg#bebas_neuebold') format('svg'); font-weight:normal; font-style:normal;}
@font-face {font-family:'bebas-neue-book'; src:url('/fonts/bebas-neue/bebas-neue-book.eot'); src:url('/fonts/bebas-neue/bebas-neue-book.eot?#iefix') format('embedded-opentype'), url('/fonts/bebas-neue/bebas-neue-book.woff2') format('woff2'), url('/fonts/bebas-neue/bebas-neue-book.woff') format('woff'), url('/fonts/bebas-neue/bebas-neue-book.ttf') format('truetype'), url('/fonts/bebas-neue/bebas-neue-book.svg#bebas_neuebook') format('svg'); font-weight:normal; font-style:normal;}

body {font-family:'bebas-neue-regular'; letter-spacing:1px; padding-bottom:15px;}
input {letter-spacing:inherit;}
input[type=text], input[type=search], input[type=email], input[type=tel], input[type=number], input[type=password], textarea, select {font-family:'Courier New'; letter-spacing:0;}
.form-control, .btn, .alert {border-radius:0; border:0; outline:0; box-shadow:none;}
.header {
	height:58px; line-height:58px; font-size:36px; letter-spacing:0; background-color:white; font-family:'bebas-neue-bold'; vertical-align:middle;
	.title {display:inline-block; height:inherit; line-height:inherit;}
	.back, .plus {color:black; font-size:56px; font-family:'Helvetica Neue'; font-weight:100; margin-right:15px; vertical-align:middle; position:relative; top:-4px;}
	.plus {margin-right:0;}
	.search-icon {color:black; font-size:30px; font-weight:100; vertical-align:middle; position:relative; top:15px;}
}

.container {width:640px;}
@media (max-width:640px) {
	.container {width:100%;}
}

.uninitialized-hidden {display:none !important;}

.alert-popup {
	position:fixed; width:100%; height:100%; top:-100%; left:-100%; z-index:999;
	.alert-background {position:absolute; width:100%; height:100%; background-color:black; opacity:0; top:0; left:0; transition:opacity .5s;}
	.alert {position:absolute; bottom:-100%; transition:bottom .5s; margin-bottom:0; width:610px; margin:auto; left:calc(50% - 305px);}
	.alert-foreground {position:absolute; width:100%; height:100%; background-color:transparent; top:0; left:0;}
}
.alert-confirm {
	.alert {
		background-color:white; border:1px solid #ff7979; height:150px; color:#222222;
		.option-yes {position:absolute; right:15px; bottom:15px; cursor:pointer;}
		.option-no {position:absolute; left:15px; bottom:15px; cursor:pointer;}
	}
}
.alert-popup.show {
	top:0; left:0;
	.alert-background {opacity:.5;}
	.alert {bottom:30px;}
}
.alert-confirm.show {
	.alert {bottom:calc(50% - 75px);}
}
@media (max-width:640px) {
	.alert-popup .alert {left:15px; right:15px; width:auto;}
}

a:hover, a:focus {text-decoration:none;}

.has-error .form-control, .has-error .date-time-input {background-color:#f2dede;}

.margin-top-0 {margin-top:0 !important;}
.margin-top-15 {margin-top:15px !important;}
.margin-top-45 {margin-top:45px !important;}
.margin-right-15 {margin-right:15px !important;}
.margin-bottom-15 {margin-bottom:15px !important;}
.margin-left-15 {margin-left:15px !important;}
.margin-left-30 {margin-left:15px !important;}
.margin-bottom-4 {margin-bottom:4px !important;}

h3 {font-family:'bebas-neue-bold';}

.file-upload {
	+ .file-upload {margin-top:8px;}
	.btn-file {
		position:relative; overflow:hidden;
		input[type=file] { position:absolute; top:0; right:0; min-width:100%; min-height:100%; font-size:100px; text-align:right; filter:alpha(opacity=0); opacity:0; outline:none; background:white; cursor:inherit; display:block; }
	}
}

.image-thumbnail {margin-right:8px; margin-bottom:8px; display:inline-block; width:50px; height:50px; background:black no-repeat center center; background-size:cover;}
.image-avatar {border-radius:25px;}
.image-gallery-modal {
	z-index:999; position:fixed; top:0; left:0; width:100%; height:100%;
	.image-gallery-background {position:absolute; width:100%; height:100%; background-color:black; top:0; left:0; opacity:.7;}
	.image-gallery-foreground {
		position:relative; height:100%; text-align:center; margin:auto;
		.image-gallery {height:calc(100% - 122px); width:100%; margin-top:15px; background:transparent no-repeat center center; background-size:contain;}
		.btn-danger {position:absolute; bottom:61px; width:calc(100% - 30px);}
		.btn-success {position:absolute; bottom:15px; width:calc(100% - 30px);}
	}
	.btn-danger[disabled] {opacity:1; background-color:#e68f8d;}
}

.search {
	position:relative; height:0; overflow:hidden; -webkit-transition:all .2s; transition:all .2s; background-color:white;
	#search-form {
		height:auto;
		input[type=search], input[type=text], input[type=date] {border:0; outline:0; -webkit-box-shadow:none; box-shadow:none; width:calc(100% - 30px); color:black; height:40px;}
		.glyphicon-remove {color:white; background-color:#ccc; padding:7px; border-radius:30px; position:absolute; top:6.5px; right:15px;}
		input[type=submit] {width:1px; height:1px; border:0; outline:0; overflow:hidden; position:absolute; left:-1000px; top:-1000px;}
	}
}
.search.search-opened {height:42px; border-top:1px solid gray; border-bottom:1px solid gray;}
.search.search-date #search-form input[type=search] {border-bottom:1px solid #ccc;}
.search.search-date.search-opened {height:82px;}

.date-input {
	background-color:white; height:34px; line-height:34px; vertical-align:middle; overflow:hidden;
	input {-webkit-box-shadow:none !important; box-shadow:none !important;}
	> input.date-picker {display:inline-block; width:calc(100% - 170px); padding-right:0; text-align:left; height:inherit; vertical-align:middle;}
}

.date-time-input {
	background-color:white; height:34px; line-height:34px; vertical-align:middle; overflow:hidden;
	input {-webkit-box-shadow:none !important; box-shadow:none !important;}
	> input.date-picker {display:inline-block; width:calc(100% - 170px); padding-right:0; text-align:left; height:inherit; vertical-align:middle;}
	> span.at {display:inline-block; width:20px; text-align:center; height:inherit; line-height:inherit; vertical-align:middle;}
	> div {
		display:inline-block; width:45px; text-align:center; position:relative; height:inherit; line-height:inherit; vertical-align:middle;
		span.colon {position:absolute; top:0; left:5px; height:inherit; line-height:inherit;}
		.glyphicon-chevron-down {position:absolute; top:14px; right:0; font-size:9px;}
		input[type=text] {width:inherit; height:inherit;}
		select {width:inherit; padding:0; position:absolute; top:0; left:0; opacity:0; height:inherit;}
	}
}

.page-home {
	background-color:#eceae9;
	.container > .btn {margin-top:15px;}
	.container > .btn:first-child {margin-top:15px;}
	.notification {background-color:#1fff9e; color:black;}
	.forum {background-color:#fcc5ab; color:black;}
	.calendar {background-color:#ffffff; color:black;}
	.directory {background-color:#a484bb; color:black;}
	.account {background-color:#8ef6f0; color:black;}
	.help {background-color:#2b2b2b; color:white;}
	.logout {background-color:#ff7979; color:white;}
}

.page-login {
	background-color:#8ef6f0;
}

.page-profile {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
	.join-description {font-size:16px; font-family:'Courier New'; background-color:white; padding:15px; color:#2b2b2b;}
	.subtitle {float:left; line-height:31px;}
	.show-public {float:right; margin:20px 0 10px 0;}
	.profile-inputs {
		margin-left:29px;
		.btn-file {text-overflow: ellipsis; max-width: 225px;}
	}
	.form-control-feedback {font-size:20px; pointer-events:auto; left:-34px;}
	.has-error .form-control-feedback {color:white;}
	.checkbox a {text-decoration:underline; color:inherit;}
}

.page-profile-view {
	background-color:#a484bb; color:#2b2b2b;
	.header {color:#a484bb;}
	.profile-view {
		> * {color:inherit; display:block; margin-bottom:8px;}
		.username {}
		.avatar {margin-bottom:0;}
		.artist-name {}
		.name {}
		.email, .website, .about-me {background-color:white; padding:8px;}
		.about-me {white-space:pre;}
		.images {margin-top:8px; margin-bottom:0;}
		.message {color:white; margin-top:8px;}
		.history-list {
			.history {
				display:block; color:white; margin-bottom:8px;
				.history-date {float:right; width:60px; text-align:right;}
				.history-message {
					float:left; width:calc(100% - 60px); text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
					span {font-family:'bebas-neue-bold';}
				}
			}
		}
	}
}

.page-billing-history {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
}

.page-password-reset {
	background-color:#8ef6f0; color:#2b2b2b;
	.header {color:#8ef6f0;}
}

.page-notifications {
	background-color:#eceae9;
	.notification {
		display:block; margin-top:15px; font-family:'bebas-neue-regular'; color:#131313;
		.date {float:right; text-align:right; width:90px;}
		.title {float:left; width:calc(100% - 90px); font-size:15px;}
		.message {font-family:'maison-mono-light';}
	}
	.notification.new {
		font-family:'bebas-neue-bold';
		.message {font-family:'maison-mono-bold';}
	}
}

.page-directory {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
	.directory-users {
		> a {
			float:left; width:calc(25% - 3px); margin:2px 2px 14px 2px; text-align:center; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; line-height:1.1; padding:4px; display:inline-block; color:inherit; font-size:12px;
			.directory-image-holder {
				min-height:54px;
				> .image-thumbnail {margin:0;}
			}
		}
		> a:nth-child(4n) {clear:right; margin-right:0;}
		> a:nth-child(4n+1) {clear:left; margin-left:0;}
	}
}

.page-thread {
	background-color:#fbc5ad;
	.header {color:#fcc5ab;}
	.thread {
		color:#222222; display:block; margin-top:15px;
		.image-thumbnail {float:left;}
		.info {
			float:left; width:calc(100% - 58px);
			.created-at {float:right;}
			.title {
				width:calc(100% - 60px); overflow:hidden; text-overflow:ellipsis;
				.private {background-color:#ff7979; margin-right:5px; padding:0 5px;}
			}
			.message {font-family:"maison-mono-italic"; width:100%; overflow:hidden; text-overflow:ellipsis;}
			.num-comments {
				font-family:"maison-mono-light";
				span {font-family:"maison-mono-regular";}
			}
		}
	}
}

.page-post {
	background-color:#f7f7f7;
	.header {color:#131313;}
}

.page-threads-list {
	background-color:#fcc5ab;
	.header {color:#fcc5ab;}
	.thread {
		margin-top:15px; position:relative;
		.image-thumbnail {
			float:left;
			img {margin-left:16px; margin-top:11px;}
			.just-subscribed, .just-unsubscribed {display:none; font-size:40px; font-family:'bebas-neue-bold'; position:absolute; left:46px; top:8px; line-height:1; pointer-events:none;}
			.just-subscribed.show {color:#1fff9e; display:inline-block;}
			.just-unsubscribed.show {color:white; display:inline-block;}
		}
		.info {
			float:left; width:calc(100% - 58px); color:#222222;
			.created-at {float:right;}
			.title {
				width:calc(100% - 55px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:15px;
				.private {background-color:#ff7979; margin-right:5px; padding:0 5px;}
			}
			.message {font-family:"maison-mono-italic"; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:13px;}
			.num-comments {
				font-family:"maison-mono-light";
				span {font-family:"maison-mono-regular";}
			}
		}
	}
}

.page-posts-list {
	background-color:#f7f7f7;
	.header {
		color:#131313;
		.container {
			.title {display:inline-block; width:calc(100% - 90px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;}
		}
	}
	.toggle-collapse-all {margin-bottom:8px; float:right;}
	.created-by {
		margin-bottom:8px; color:inherit; display:block; float:left; line-height:31px;
		a {color:#9f9f9f}
	}
	.private-users {
		margin-bottom:15px;
		.private {background-color:#ff7979; margin-right:5px; padding:0 5px;}
		a {color:#9f9f9f}
	}
	.post {
		background-color:white; border:1px solid #fcc5ab; padding:8px; position:relative; margin-bottom:8px;
		.image-avatar {display:none; float:left; margin-bottom:5px;}
		.user {font-family:'bebas-neue-bold';}
		.created-at {font-family:'maison-mono-regular';}
		.message {font-family:'maison-mono-light'; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:block;}
		.post-images {
			height:20px; overflow:hidden;
			> span {width:20px; height:20px; position:relative; display:inline-block; background:black no-repeat center center; background-size:cover; margin-right:5px; margin-bottom:5px;}
		}
		.delete {display:none;}
	}
	.post.expanded {
		.post-image {display:none;}
		.image-avatar {display:inline-block;}
		.user, .created-at {display:block;}
		.message {overflow:auto; white-space:pre; display:inline;}
		.post-images {
			margin-top:15px; height:auto; overflow:auto; margin-bottom:-10px;
			> span {width:50px; height:50px; margin-right:10px; margin-bottom:10px;}
		}
		.delete {display:block;}
	}
}

.page-events-list {
	background-color:#eceae9;
	.header {color:#131313;}
	.events-type {float:left; line-height:31px;}
	.toggle-event-history {float:right; margin:20px 0 10px 0;}
	.event {
		margin-top:15px; position:relative;
		.image-thumbnail {float:left;}
		.info {
			float:left; width:calc(100% - 58px); color:#222222;
			.starts-at {float:right;}
			.title {width:calc(100% - 115px); overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:15px;}
			.description {font-family:"maison-mono-italic"; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:13px;}
			.location {font-family:"maison-mono-light"; width:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
		}
	}
}

.page-event {
	background-color:#eceae9;
	.header {color:#131313;}
}

.page-event-view {
	background-color:#eceae9;
	.header {color:#131313;}
	.created-by {
		margin-bottom:8px; color:inherit; display:block;
		a {color:#9f9f9f}
	}
	.title, .date {font-family:'bebas-neue-bold'; padding:8px; background-color:white; margin-bottom:8px;}
	.location {color:#9f9f9f; margin-bottom:8px; display:block; font-size:20px;}
	.description {padding:8px; background-color:white; font-family:'maison-mono-light'; margin-bottom:15px; white-space:pre;}
	.delete {margin-top:8px;}
}

.page-guest {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
	a.btn {background-color:white; color:#222222;}
}

.page-about {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
	.about {background-color:white; padding:15px; color:#222222;}
}

.page-mailing-list {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
}

.page-terms-of-service {
	background-color:#a484bb; color:white;
	.header {color:#a484bb;}
	.terms-of-service {background-color:white; padding:15px; color:#222222;}
}